{
    "current_records": {
        "5113.lab.etvp.tech": "100.64.0.1",
        "*.5113.lab.etvp.tech": "100.64.0.1",
        "nps-home.home.etvp.tech": "100.64.0.2",
        "*.nps-home.home.etvp.tech": "100.64.0.2",
        "mibook.admin.etvp.tech": "100.64.0.4",
        "*.mibook.admin.etvp.tech": "100.64.0.4",
        "5112.lab.etvp.tech": "100.64.0.6",
        "*.5112.lab.etvp.tech": "100.64.0.6",
        "1501.lab.etvp.tech": "100.64.0.7",
        "*.1501.lab.etvp.tech": "100.64.0.7",
        "5111.lab.etvp.tech": "100.64.0.8",
        "*.5111.lab.etvp.tech": "100.64.0.8",
        "5173.lab.etvp.tech": "100.64.0.10",
        "*.5173.lab.etvp.tech": "100.64.0.10",
        "5172.lab.etvp.tech": "100.64.0.11",
        "*.5172.lab.etvp.tech": "100.64.0.11",
        "5171.lab.etvp.tech": "100.64.0.12",
        "*.5171.lab.etvp.tech": "100.64.0.12",
        "op-home.home.etvp.tech": "100.64.0.13",
        "*.op-home.home.etvp.tech": "100.64.0.13",
        "vm-vps.admin.etvp.tech": "100.64.0.14",
        "*.vm-vps.admin.etvp.tech": "100.64.0.14",
        "5115.lab.etvp.tech": "100.64.0.16",
        "*.5115.lab.etvp.tech": "100.64.0.16",
        "5114.lab.etvp.tech": "100.64.0.17",
        "*.5114.lab.etvp.tech": "100.64.0.17",
        "op-150.lab.etvp.tech": "100.64.0.18",
        "*.op-150.lab.etvp.tech": "100.64.0.18",
        "5301.lab.etvp.tech": "100.64.0.20",
        "*.5301.lab.etvp.tech": "100.64.0.20",
        "5302.lab.etvp.tech": "100.64.0.3",
        "*.5302.lab.etvp.tech": "100.64.0.3",
        "5174.lab.etvp.tech": "100.64.0.9",
        "*.5174.lab.etvp.tech": "100.64.0.9",
        "j4125.hsli.etvp.tech": "100.64.0.5",
        "*.j4125.hsli.etvp.tech": "100.64.0.5",
        "liujiajun-1.liujiajun.etvp.tech": "100.64.0.15",
        "*.liujiajun-1.liujiajun.etvp.tech": "100.64.0.15",
        "xiongnuoye-1.xiongnuoye.etvp.tech": "100.64.0.22",
        "*.xiongnuoye-1.xiongnuoye.etvp.tech": "100.64.0.22",
        "hezhanliang-1.hezhanliang.etvp.tech": "100.64.0.24",
        "*.hezhanliang-1.hezhanliang.etvp.tech": "100.64.0.24",
        "5303.lab.etvp.tech": "100.64.0.25",
        "*.5303.lab.etvp.tech": "100.64.0.25",
        "6301.lab.etvp.tech": "100.64.0.26",
        "*.6301.lab.etvp.tech": "100.64.0.26",
        "6302.lab.etvp.tech": "100.64.0.27",
        "*.6302.lab.etvp.tech": "100.64.0.27",
        "5110.lab.etvp.tech": "100.64.0.29",
        "*.5110.lab.etvp.tech": "100.64.0.29",
        "hezhanliang-2.hezhanliang.etvp.tech": "100.64.0.30",
        "*.hezhanliang-2.hezhanliang.etvp.tech": "100.64.0.30",
        "6666.lab.etvp.tech": "100.64.0.31",
        "*.6666.lab.etvp.tech": "100.64.0.31",
        "zhangchenyang-1.zhangchenyang.etvp.tech": "100.64.0.32",
        "*.zhangchenyang-1.zhangchenyang.etvp.tech": "100.64.0.32",
        "liujiajun-2.liujiajun.etvp.tech": "100.64.0.33",
        "*.liujiajun-2.liujiajun.etvp.tech": "100.64.0.33",
        "liukendong-1.liukendong.etvp.tech": "100.64.0.34",
        "*.liukendong-1.liukendong.etvp.tech": "100.64.0.34",
        "laptop-oa30795p.wutengfei.etvp.tech": "100.64.0.35",
        "*.laptop-oa30795p.wutengfei.etvp.tech": "100.64.0.35",
        "taijunnombp.tianyishuang.etvp.tech": "100.64.0.36",
        "*.taijunnombp.tianyishuang.etvp.tech": "100.64.0.36",
        "laptop-bsefjmp0.houhaoran.etvp.tech": "100.64.0.37",
        "*.laptop-bsefjmp0.houhaoran.etvp.tech": "100.64.0.37",
        "tolkien.wuzijie.etvp.tech": "100.64.0.38",
        "*.tolkien.wuzijie.etvp.tech": "100.64.0.38",
        "desktop-20h08eh.meilonglong.etvp.tech": "100.64.0.39",
        "*.desktop-20h08eh.meilonglong.etvp.tech": "100.64.0.39",
        "desktop-rfp2fgi.shaoyingchao.etvp.tech": "100.64.0.23",
        "*.desktop-rfp2fgi.shaoyingchao.etvp.tech": "100.64.0.23",
        "huanchengmoer.yanglijie.etvp.tech": "100.64.0.41",
        "*.huanchengmoer.yanglijie.etvp.tech": "100.64.0.41",
        "bomiao.miaobo.etvp.tech": "100.64.0.42",
        "*.bomiao.miaobo.etvp.tech": "100.64.0.42",
        "zijiewu.wuzijie.etvp.tech": "100.64.0.43",
        "*.zijiewu.wuzijie.etvp.tech": "100.64.0.43",
        "wn.wangning.etvp.tech": "100.64.0.44",
        "*.wn.wangning.etvp.tech": "100.64.0.44",
        "desktop-519mial.wangning.etvp.tech": "100.64.0.45",
        "*.desktop-519mial.wangning.etvp.tech": "100.64.0.45",
        "desktop-2q8em5n.wangning.etvp.tech": "100.64.0.21",
        "*.desktop-2q8em5n.wangning.etvp.tech": "100.64.0.21",
        "desktop-2kl3jqf.wutengfei.etvp.tech": "100.64.0.46",
        "*.desktop-2kl3jqf.wutengfei.etvp.tech": "100.64.0.46",
        "desktop-ulhspr5.tianfenghao.etvp.tech": "100.64.0.47",
        "*.desktop-ulhspr5.tianfenghao.etvp.tech": "100.64.0.47",
        "etvp-code.lab.etvp.tech": "100.64.0.48",
        "*.etvp-code.lab.etvp.tech": "100.64.0.48",
        "desktop-cpak7pq.tianfenghao.etvp.tech": "100.64.0.40",
        "*.desktop-cpak7pq.tianfenghao.etvp.tech": "100.64.0.40",
        "chopin.admin.etvp.tech": "100.64.0.49",
        "*.chopin.admin.etvp.tech": "100.64.0.49",
        "jms.admin.etvp.tech": "100.64.0.50",
        "*.jms.admin.etvp.tech": "100.64.0.50",
        "nn.shuxiaoning.etvp.tech": "100.64.0.51",
        "*.nn.shuxiaoning.etvp.tech": "100.64.0.51",
        "leaf.fankehan.etvp.tech": "100.64.0.52",
        "*.leaf.fankehan.etvp.tech": "100.64.0.52",
        "s905l.hsli.etvp.tech": "100.64.0.53",
        "*.s905l.hsli.etvp.tech": "100.64.0.53",
        "segm3nt-vm.linjiaqun.etvp.tech": "100.64.0.54",
        "*.segm3nt-vm.linjiaqun.etvp.tech": "100.64.0.54",
        "laptop-s6pumkc0.linjiaqun.etvp.tech": "100.64.0.55",
        "*.laptop-s6pumkc0.linjiaqun.etvp.tech": "100.64.0.55",
        "desktop-aoqesn2.wangsiyuan.etvp.tech": "100.64.0.56",
        "*.desktop-aoqesn2.wangsiyuan.etvp.tech": "100.64.0.56",
        "debian-home.home.etvp.tech": "100.64.0.57",
        "*.debian-home.home.etvp.tech": "100.64.0.57",
        "cjmserver01.chengjiaming.etvp.tech": "100.64.0.58",
        "*.cjmserver01.chengjiaming.etvp.tech": "100.64.0.58",
        "desktop-e15tdsl.chengjiaming.etvp.tech": "100.64.0.19",
        "*.desktop-e15tdsl.chengjiaming.etvp.tech": "100.64.0.19",
        "nndemac-mini.shuxiaoning.etvp.tech": "100.64.0.60",
        "*.nndemac-mini.shuxiaoning.etvp.tech": "100.64.0.60",
        "desktop-9pdlvck.chengjiaming.etvp.tech": "100.64.0.59",
        "*.desktop-9pdlvck.chengjiaming.etvp.tech": "100.64.0.59",
        "desktop-honjqv7.xiongnuoye.etvp.tech": "100.64.0.61",
        "*.desktop-honjqv7.xiongnuoye.etvp.tech": "100.64.0.61",
        "gfy.gaofangyu.etvp.tech": "100.64.0.62",
        "*.gfy.gaofangyu.etvp.tech": "100.64.0.62",
        "laptop-gslhjm9t.gaofangyu.etvp.tech": "100.64.0.63",
        "*.laptop-gslhjm9t.gaofangyu.etvp.tech": "100.64.0.63",
        "desktop-50t4c6k.lihao.etvp.tech": "100.64.0.64",
        "*.desktop-50t4c6k.lihao.etvp.tech": "100.64.0.64",
        "desktop-3kskrc3.gaofangyu.etvp.tech": "100.64.0.65",
        "*.desktop-3kskrc3.gaofangyu.etvp.tech": "100.64.0.65",
        "desktop-kpv7gl1.huangjilai.etvp.tech": "100.64.0.66",
        "*.desktop-kpv7gl1.huangjilai.etvp.tech": "100.64.0.66",
        "bigpad.hsli.etvp.tech": "100.64.0.67",
        "*.bigpad.hsli.etvp.tech": "100.64.0.67",
        "desktop-pjgsv3k.xiongnuoye.etvp.tech": "100.64.0.68",
        "*.desktop-pjgsv3k.xiongnuoye.etvp.tech": "100.64.0.68",
        "desktop-03dquq8.libo.etvp.tech": "100.64.0.69",
        "*.desktop-03dquq8.libo.etvp.tech": "100.64.0.69",
        "laptop-bgecm0j3.huangjilai.etvp.tech": "100.64.0.70",
        "*.laptop-bgecm0j3.huangjilai.etvp.tech": "100.64.0.70",
        "bobo-.yanchenbo.etvp.tech": "100.64.0.71",
        "*.bobo-.yanchenbo.etvp.tech": "100.64.0.71",
        "laptop-mora4h8l.lipeiyuan.etvp.tech": "100.64.0.72",
        "*.laptop-mora4h8l.lipeiyuan.etvp.tech": "100.64.0.72",
        "white-r9000k.wangqi.etvp.tech": "100.64.0.73",
        "*.white-r9000k.wangqi.etvp.tech": "100.64.0.73",
        "-matebook13.xuzhou.etvp.tech": "100.64.0.74",
        "*.-matebook13.xuzhou.etvp.tech": "100.64.0.74",
        "desktop-ifkle9g.linyuming.etvp.tech": "100.64.0.75",
        "*.desktop-ifkle9g.linyuming.etvp.tech": "100.64.0.75",
        "ly.longyu.etvp.tech": "100.64.0.76",
        "*.ly.longyu.etvp.tech": "100.64.0.76",
        "laptop-2va0c3v1.yanchenbo.etvp.tech": "100.64.0.77",
        "*.laptop-2va0c3v1.yanchenbo.etvp.tech": "100.64.0.77",
        "zeppeli.huacong.etvp.tech": "100.64.0.78",
        "*.zeppeli.huacong.etvp.tech": "100.64.0.78",
        "-yoga14s.renchuang.etvp.tech": "100.64.0.79",
        "*.-yoga14s.renchuang.etvp.tech": "100.64.0.79",
        "desktop-0hccfa9.jiangminchao.etvp.tech": "100.64.0.80",
        "*.desktop-0hccfa9.jiangminchao.etvp.tech": "100.64.0.80",
        "laptop-anri5obn.jiangminchao.etvp.tech": "100.64.0.81",
        "*.laptop-anri5obn.jiangminchao.etvp.tech": "100.64.0.81",
        "desktop-m1auigd.tianfenghao.etvp.tech": "100.64.0.82",
        "*.desktop-m1auigd.tianfenghao.etvp.tech": "100.64.0.82",
        "desktop-nnhcbcd.liweibao.etvp.tech": "100.64.0.83",
        "*.desktop-nnhcbcd.liweibao.etvp.tech": "100.64.0.83",
        "desktop-oh6k9tk.fujinhang.etvp.tech": "100.64.0.84",
        "*.desktop-oh6k9tk.fujinhang.etvp.tech": "100.64.0.84",
        "xjh.xujiahui.etvp.tech": "100.64.0.85",
        "*.xjh.xujiahui.etvp.tech": "100.64.0.85",
        "xny-ubuntu.xiongnuoye.etvp.tech": "100.64.0.86",
        "*.xny-ubuntu.xiongnuoye.etvp.tech": "100.64.0.86",
        "laptop-mora4h8l-9b7ua746.lipeiyuan.etvp.tech": "100.64.0.87",
        "*.laptop-mora4h8l-9b7ua746.lipeiyuan.etvp.tech": "100.64.0.87",
        "balabala.huacong.etvp.tech": "100.64.0.88",
        "*.balabala.huacong.etvp.tech": "100.64.0.88",
        "debian150.lab.etvp.tech": "100.64.0.89",
        "*.debian150.lab.etvp.tech": "100.64.0.89",
        "dg3399.hsli.etvp.tech": "100.64.0.90",
        "*.dg3399.hsli.etvp.tech": "100.64.0.90",
        "andssy.daiyang.etvp.tech": "100.64.0.91",
        "*.andssy.daiyang.etvp.tech": "100.64.0.91",
        "andssy-udwpmzxr.daiyang.etvp.tech": "100.64.0.92",
        "*.andssy-udwpmzxr.daiyang.etvp.tech": "100.64.0.92",
        "desktop-gmqkaf8.yanchenbo.etvp.tech": "100.64.0.93",
        "*.desktop-gmqkaf8.yanchenbo.etvp.tech": "100.64.0.93",
        "xiaomi-22081212c.hsli.etvp.tech": "100.64.0.94",
        "*.xiaomi-22081212c.hsli.etvp.tech": "100.64.0.94",
        "leigon.yanchenbo.etvp.tech": "100.64.0.95",
        "*.leigon.yanchenbo.etvp.tech": "100.64.0.95"
    },
    "deleted_records": {
        "yanchenbo-1.yanchenbo.etvp.tech": "100.64.0.28",
        "*.yanchenbo-1.yanchenbo.etvp.tech": "100.64.0.28",
        "debian.admin.etvp.tech": "100.64.0.50",
        "*.debian.admin.etvp.tech": "100.64.0.50"
    }
}